<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Freaks_Office.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Freaks_Office.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Freaks_Office.Properties.Settings.OfficeversionConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Officeversion.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Freaks_Office.Properties.Settings>
            <setting name="Autor" serializeAs="String">
                <value>Turksat46</value>
            </setting>
            <setting name="GezwungenSchliessen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CancelKnopf" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Änderung" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SchliessungSymbol" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Schliessungsymbolname" serializeAs="String">
                <value>recovery2</value>
            </setting>
            <setting name="GrussFormel" serializeAs="String">
                <value>Mit freundlichen Grüßen,</value>
            </setting>
            <setting name="AutoSaverTimerTime" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Darkmode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HintergrundRTB" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="VordergrundRTB" serializeAs="String">
                <value>WindowText</value>
            </setting>
            <setting name="GesuchteURL" serializeAs="String">
                <value />
            </setting>
            <setting name="SchriftfarbeProgramm" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FarbeStrips" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="HomeAddress" serializeAs="String">
                <value>www.google.de</value>
            </setting>
        </Freaks_Office.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Freaks_Office.Properties.Settings>
            <setting name="Textnameänderung" serializeAs="String">
                <value>Aenderung</value>
            </setting>
        </Freaks_Office.Properties.Settings>
    </applicationSettings>
</configuration>